.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Personal "deploy" script for Nginx
deploy.sh

# I file del cazzo di Cassitto
.idea/*
.idea
._*
.DS_Store