.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Personal "deploy" script for Nginx
deploy.sh

# IntelliJ
.idea/misc.xml
.idea/modules.xml
.idea/PCTO-Alfatecnica.iml
.idea/sonarlint/issuestore/index.pb
.idea/vcs.xml
.idea/workspace.xml
.idea/*
.idea
._*
